{%- assign href = 'about.css' | asset_url -%}
{% render 'link', href: href %}

<style>
    :root .color-custom {
      --theme-color:{{ section.settings.section_text_color_scheme }};
      --theme-heading:{{ section.settings.section_heading_color_scheme }};
      --theme-sub-heading:{{ section.settings.section_sub_heading_color_scheme }};
      --theme-link-color:{{ section.settings.section_links_color_scheme }};
      --theme-background:{{ section.settings.section_background_color_scheme }};
    }
</style>

<section class="about_img_sec  pt-10 pb-[47px] md:py-14 xl:py-20 section-{{section.id}} color-{{ section.settings.color_scheme }}" id="shopify-{{ section.id }}">
    <div class="container">
        <div class="image_text_row">
            <div class="">
                <div class="main-title pb-[40px] md:pb-14 2xl:pb-[70px] 4xl:pb-[81px] text-{{ section.settings.align_text }}">
                    <div class="inline-block max-w-[800px] xl:max-w-[900px] 2xl:max-w-[1100px]">
                        <h2>{{ section.settings.main_title }}</h2>
                    </div>
                </div>
            </div>

            <div class="image_panel grid grid-cols-2 gap-2 md:gap-x-6 lg:gap-x-8">
                <div class="img-wrap relative pt-[118%] md:pt-[71%]">
                    {%- if section.settings.url-image != blank -%}
                    <img class="lazyload  w-full h-full object-cover absolute left-0 right-0 top-0 bottom-0" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ section.settings.url-image | img_url:'708x' }}" alt="{{ section.settings.url-image.alt }}">
                    {%- endif -%}
                </div>
                <div class="img-wrap relative pt-[118%] md:pt-[71%]">
                    {%- if section.settings.url-image != blank -%}
                    <img class="lazyload w-full h-full object-cover absolute left-0 right-0 top-0 bottom-0" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ section.settings.url-image2 | img_url:'708x' }}" alt="{{ section.settings.url-image.alt }}">
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "About Image sec",
    "settings": [
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "url-image",
            "label": "image"
        },
        {
            "type": "image_picker",
            "id": "url-image2",
            "label": "image"
        },
        {
            "type": "header",
            "content": "text"
        },
        {
            "type": "text",
            "id": "main_title",
            "label": "Heading"
        },
        {
            "type": "select",
            "id": "align_text",
            "label": "Alignment Text",
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "header",
            "content": "Style"
          },
          {
            "type": "select",
            "id": "color_scheme",
            "label":"Color scheme",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "scheme-1",
                "label": "scheme 1"
              },
              {
                "value": "scheme-2",
                "label": "scheme 2"
              },
              {
                "value": "custom",
                "label": "custom (Set below)"
              }
            ]
        },
        {
            "type": "color",
            "id": "section_text_color_scheme",
            "default": "#847486",
            "label": "Custom Text Color"
        },
        {
            "type": "color",
            "id": "section_heading_color_scheme",
            "default": "#4B3B4C",
            "label": "Custom Heading Color"
        },
        {
            "type": "color",
            "id": "section_background_color_scheme",
            "default": "#E8E9F2",
            "label": "Custom Background Color"
        }
    ],
    "presets": [
        {
            "name": "About Image sec"
        }
    ]
}
{% endschema %}











