<style>
    :root .section-{{section.id}}.color-custom {
      --theme-color:{{ section.settings.section_text_color_scheme }};
      --theme-heading:{{ section.settings.section_heading_color_scheme }};
      --theme-sub-heading:{{ section.settings.section_sub_heading_color_scheme }};
      --theme-link-color:{{ section.settings.section_links_color_scheme }};
      --theme-background:{{ section.settings.section_background_color_scheme }};
    }
</style>
  
  <section class="image_text_section section-{{section.id}} relative color-{{ section.settings.color_scheme }}" id="shopify-{{ section.id }}">
      <div class="container mobile_custom">
          <div class="image_text_row flex flex-col {{ section.settings.image_position }}">
              <div class="image_panel md:w-1/2 md:absolute md:top-0 md:bottom-0">                
                {%- if section.settings.url-image != blank -%}        
                    <img class="lazyload w-full h-full object-cover test" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="{{ section.settings.url-image | img_url:'1000x' }}" alt="{{ section.settings.url-image.alt }}">
                        {%- else -%}
                        <img class="lazyload w-full h-full object-cover test" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ collection.image | img_url:'1000x' }}" alt="{{ section.settings.url-image.alt }}">
                {%- endif -%}                                    
              </div>
              <div class="text-black-box flex items-center px-5 md:px-0 py-8 md:py-10 lg:py-14 xl:py-12 md:w-1/2">
                  <div class="text-{{ section.settings.align_text }} w-full lg:max-w-[571px]">
                      <h2 class="pb-4 md:pb-6 font-dmserif font-normal text-font27 md:text-font30 lg:text-font40 max-w-[500px]">
                        {%- if section.settings.main_title != blank -%}        
                            {{ section.settings.main_title  }}    
                        {%- else -%}
                            {{ section.settings.title | default: collection.title }}    
                        {%- endif -%}
                      </h2>
                      <div class="space-y-5 xl:space-y-9 pb-1 font-inter font-normal text-font14 md:text-font16">
                        {%- if section.settings.content_description != blank -%}        
                            {{ section.settings.content_description  }}    
                        {%- else -%}
                            {{ section.settings.description | default: collection.description }}  
                        {%- endif -%}                           
                      </div>
                  </div>
              </div>  
          </div>
      </div>
  </section>
  
  
  <style>        
        .image_text_section .flex-col {
          flex-direction: column !important;
          @apply px-5 sm:px-6 md:px-10;
        }
        @media (min-width: 768px) {
          .image_text_section .flex-row {
              flex-direction: row !important;
            }
            .image_text_section .flex-row .image_panel {
              left: auto;
              right: 0;
            }
            .image_text_section .flex-row .text-black-box {
                padding-right: 50px;
            }

            .image_text_section .flex-row-reverse {
              flex-direction: row-reverse !important;
            }
            .image_text_section .flex-row-reverse .image_panel {
              right: auto;
              left: 0;
            }

            .image_text_section .flex-row-reverse .text-black-box {
                padding-left: 50px;
            }
       }
       @media (min-width: 1440px) {
            .image_text_section .flex-row .text-black-box {
                padding-right: 70px;
            }
            .image_text_section .flex-row-reverse .text-black-box {
                padding-left: 70px;
            }
       }
  </style>
  
  {% schema %}
  {
      "name": "Collection Inner Banner",
      "settings": [
          {
              "type": "header",
              "content": "Image"
          },

          {
              "type": "select",
              "id": "image_position",
              "label": "Image position (desktop)",
              "default": "flex-row",
              "options": [
                  {
                      "value": "flex-row",
                      "label": "Right"
                  },
                  {
                      "value": "flex-row-reverse",
                      "label": "Left"
                  }
              ]
          },          
          {
            "type": "image_picker",
            "id": "url-image",
            "label": "image"
            },
            {
                "type": "header",
                "content": "text"
            },
            {
                "type": "text",
                "id": "main_title",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "content_description",
                "label": "Text"
            },                   
          {
              "type": "select",
              "id": "align_text",
              "label": "Alignment Text",
              "default": "left",
              "options": [
                  {
                      "value": "left",
                      "label": "Left"
                  },
                  {
                      "value": "center",
                      "label": "Center"
                  },
                  {
                      "value": "right",
                      "label": "Right"
                  }
              ]
          },
          {
              "type": "header",
              "content": "Style"
            },
            {
              "type": "select",
              "id": "color_scheme",
              "label":"Color scheme",
              "default": "default",
              "options": [
                {
                  "value": "default",
                  "label": "Default"
                },
                {
                  "value": "scheme-1",
                  "label": "scheme 1"
                },
                {
                  "value": "scheme-2",
                  "label": "scheme 2"
                },
                {
                  "value": "custom",
                  "label": "custom (Set below)"
                }
              ]
          },
          {
              "type": "color",
              "id": "section_text_color_scheme",
              "default": "#847486",
              "label": "Custom Text Color"
          },
          {
              "type": "color",
              "id": "section_heading_color_scheme",
              "default": "#4B3B4C",
              "label": "Custom Heading Color"
          },
          {
              "type": "color",
              "id": "section_background_color_scheme",
              "default": "#FFF3EE",
              "label": "Custom Background Color"
          }
      ],
      "presets": [
          {
              "name": "Collection Inner Banner"
          }
      ]
  }
  {% endschema %}
  
  
  
  
  
  
  
  
  
  
  
  