{%- assign href = 'home-blog-list.css' | asset_url -%}
{% render 'link', href: href %}
<style>
    :root .section-{{section.id}}.color-custom {
      --theme-color:{{ section.settings.section_text_color_scheme }};
      --theme-heading:{{ section.settings.section_heading_color_scheme }};
      --theme-sub-heading:{{ section.settings.section_sub_heading_color_scheme }};
      --theme-link-color:{{ section.settings.section_links_color_scheme }};
      --theme-background:{{ section.settings.section_background_color_scheme }};
    }
    .blogSwiper .link-btn {
        color: var(--theme-link-color);
    }
    .blogSwiper h3 {
        color:var(--theme-heading);
    }
</style>

{%- assign blog = blogs[section.settings.blog] -%}
<section class="blog-section py-[40px] md:py-20 bg-slate-200 section-{{section.id}} color-{{ section.settings.color_scheme }}">
    <div class="container">
        <div class="title text-center">
            <h2>
                {{ section.settings.title | escape }}
            </h2>
        </div>        
    </div>        
    <div class="container container-p-0">
        <div class="swiper blogSwiper  pt-9 md:pt-10 lg:pt-[50px] xl:pt-[60px] 2xl:pt[80px] pb-9 lg:pb-12 2xl:pb-[59px] px-5 md:px-[30px] lg:px-[50px] 4xl:px-[65px]">
            {%- if blog.articles_count > 0 -%}            
                <div class="swiper-wrapper">
                    {%- for article in blog.articles limit: section.settings.post_limit -%}
                        <div class="swiper-slide">
                            <a href="{{ article.url }}" class="blog-card-home">
                                {%- if article.image -%}
                                    <div class="blog-img-home relative pt-[83%]">
                                        <!-- <img class="w-full object-cover absolute left-0 right-0 top-0 h-full" src="{{ article.image | img_url: '1200px' }}" alt=""> -->
                                        <img 
                                          class="lazyload w-full object-cover absolute left-0 right-0 top-0 h-full" 
                                          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                          data-src="{{ article.image | img_url:'462x' }}" alt="">
                                    </div>
                                {%- endif -%}
                                <div class="blog-content-home px-4 py-6 md:px-5 xl:px-[25px] xl:py-[25px]">
                                    <h3 class="text-font16 sm:text-font17 font-inter md:text-font18 lg:text-font20 xl:text-font19 font-semibold capitalize pb-5 md:pb-6 2xl:pb-[30px]">{{ article.title }}</h3>                                                                
                                    <button  class="link-btn {{ settings.button_text_scheme }} {{ settings.button_corner_scheme }} {{ settings.button_border_width_scheme }}" {{ block.shopify_attributes }}>
                                       {{ 'general.read_more' | t }}
                                    </button>                            
                                </div>
                            </a>
                        </div>
                    {%- endfor -%}
                </div>
            {%- endif -%}    
        </div>        
    </div>
    <div class="container">
        <div class="blog-swiper-scrollbar swiper-scrollbar"></div>
        {%- if section.settings.button_label != blank -%}
            <div class="mt-[38px] lg:mt-0 flex justify-center">
                <a {% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %} class="{{ section.settings.button_color_scheme }} {{ settings.button_text_scheme }} {{ settings.button_corner_scheme }} {{ settings.button_border_width_scheme }}" {{ block.shopify_attributes }}>
                    {{ section.settings.button_label | escape }}
                    {% include 'button-arrow' %}
                </a>
            </div>
        {%- endif -%}        
    </div>
</section>



<script>
    function docReady(fn){
      if (document.readyState === "complete" || document.readyState === "interactive"){
        setTimeout(fn, 1);
      } else {
        document.addEventListener("DOMContentLoaded", fn);
      }
    }
    docReady(function(){
        var swiper = new Swiper(".blogSwiper", {
            loop: false,            
            spaceBetween: 30,
            breakpoints: {
                0: {
                    slidesPerView: 1.5,
                    spaceBetween: 20,
                },                
                500: {
                    slidesPerView: 1.8,
                },                
                767: {
                    slidesPerView: 2,
                },
                1023: {
                    slidesPerView: 3,
                }
            },
            scrollbar: {
                el: ".blog-swiper-scrollbar",
                draggable: true
            },
        });
    })
</script>


{% schema %}
{
  "name": "Homepage Blog List",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Our latest blogs"
    },
    {        
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default":"READ MORE BLOGS"
    },
    {        
        "type": "url",
        "id": "button_link",
        "label": "URL"        
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    },
    {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label":"Color scheme",
        "default": "default",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "scheme-1",
            "label": "scheme 1"
          },
          {
            "value": "scheme-2",
            "label": "scheme 2"
          },
          {
            "value": "custom",
            "label": "custom (Set below)"
          }
        ]
      },
        {
        "type": "color",
        "id": "section_heading_color_scheme",
        "default": "#2092FB",
        "label": "Custom Heading Color"
      },
      {
        "type": "color",
        "id": "section_links_color_scheme",
        "default": "#2092FB",
        "label": "Custom Link Color"
      },        
      {
        "type": "color",
        "id": "section_background_color_scheme",
        "default": "#E8E9F2",
        "label": "Custom Background Color"
      },
      {
        "type": "header",
        "content": "Button style"
      },
      {
        "type": "select",
        "id": "button_color_scheme",
        "label":"Button Style",
        "default": "primary-btn",
        "options": [
          {
            "value": "primary-btn",
            "label": "Primary Button"
          },
          {
            "value": "secondary-btn",
            "label": "Secondary Button"
          },
          {
            "value": "link-btn",
            "label": "Link"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Homepage Blog List",
      "category": "Blog",
      "settings": {
        "blog": "News",
        "post_limit": 4
      }
    }
  ]
}
{% endschema %}







